---
import BuyerApp from "../components/BuyerApp";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Comparador local de listas de proveedores para planificar compras."
    />
    <title>Comprador Inteligente</title>
  </head>
  <body>
    <BuyerApp client:load />
  </body>
</html>
